@import "utilities";
@import "config";
@import "btnConfig";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include set-bg(#000000);
  font-family: $font-stack;
  line-height: 1;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.hero {
  // This is where the bulk of the SCSS styling needs to be done
  nav {
    display: flex;
    flex-direction: row;
  }

  ul  {
    margin-left: 3em;
    li {
      display: inline;
      margin-left: 1em;
      margin-right: 1em;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  img {
    width: 45vw;
  }

  .hero-content {
    display: flex;
    flex-direction: row;
    div {
      margin-top: 15vh;
    }
  }
}

// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
